body {
  font-family: Arial;
  text-align: center;
  background-color: #f4f4f4;
}

img {
  border-radius: 50%;
  margin: 15px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: white;
  margin: 5px auto;
  padding: 8px;
  width: 200px;
  border-radius: 6px;
}
